body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}

div {
  width: 300px;
  height: 400px;
  padding: 16px;
  border: 1px solid #ccc;
  background-color: #fff;
  text-align: center;
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* BEGIN (write your solution here) */
.profile-card {
  width: 250px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 15px;
  object-fit: cover;
}
/* END */

h2 {
  margin: 8px 0;
}

h3 {
  margin: 6px 0;
}

p {
  color: #666;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
